<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Homestyle breakfast and lunch at a diner in Crossville Tennessee.">
    <meta name="author" content="">
    <meta name="keywords" content="Tennessee diner glade cafe food lunch breakfast">

    <title>Glade Cafe</title>
    <link rel="icon"       
      href="/assets/icons/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="/assets/scrolling-nav.css" rel="stylesheet">
    <link href="/assets/stylesheet.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Glade Cafe</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#menu">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row" id="logo-header">
                <a href="#">
                    <img src="/clean-logo.png">
                </a>
            </div> 
            <div class="row">                                        
                <div class="col-sm-6" id="about-pic-wrapper">
                    <img src="/photos/corned-beef.jpg" id="about-pic" class="img-responsive">
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <h3><strong>Tue - Sun: </strong></h3>
                        </div>
                        <div class="col-lg-6">
                            <h3><strong>7:00 am - 2:00 pm</strong></h3>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <h3><strong>25 Peavine Plaza Suit 102 Crossville TN</strong></h3>
                    <p class="lead">From Southern, homestyle classics to new favorites, you're always welcome in the Glade.</p>
                </div>            
            </div>
            <div class="row" style="margin-top:20px;">
                <p class="lead">
                    <a href="#menu" class="btn btn-lg btn-success page-scroll">View Menu</a>
                </p>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="menu" class="about-section" ng-controller="menuController">
        <div class="container">
            <a href="/fullMenu.pdf" target="_blank" class="btn btn-lg btn-success">View Full Menu</a>            
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">A view from the kitchen</h1>
                </div>
               
                  <div ng-repeat="item in food">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <a class="thumbnail">
                          <img class="img-responsive" ng-src="{{item.thumbnail}}" alt="{{item.description}}" ng-click="setModal(item)" data-toggle="modal" data-target="#myModal">
                      </a>
                    </div>
                  </div>        

            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive menu-item" ng-src="{{currentPicture}}">
                    <h3>{{currentDescription}}</h3>        
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="contact" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <h2>Tue - Sun: </h2>
                </div>
                <div class="col-lg-3">
                    <h2>7:00 am - 2:00 pm</h2>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-3" class="contact-link">
                    <a href="tel:9314561999" class="svg">
                        <!-- <object type="image/svg+xml" data="assets/icons/phone.svg"></object> -->
                        <img src="/assets/icons/phone.svg"><br>
                    </a>
                    <a href="tel:9314561999">(931) 456-1999</a>
                </div>
                <div class="col-sm-3">
                    <a href="mailto:thegladecafe@gmail.com" class="contact-link">
                        <img src="/assets/icons/email.svg">
                    </a><br>
                    <a href="mailto:thegladecafe@gmail.com">thegladecafe@gmail.com</a>
                </div>
                <div class="col-sm-3">      
                    <a href="https://goo.gl/maps/twlRX" target="_blank" class="contact-link" style="text-decoration: none;">
                        <img src="/assets/icons/location.svg">
                    </a><br>
                    <a href="https://goo.gl/maps/twlRX">Map</a>
                </div>
                <div class="col-sm-3">      
                    <a href="https://www.facebook.com/TheGladeCafe" target="_blank" class="contact-link">
                        <img src="/assets/icons/fb.svg">
                    </a><br>
                    <a href="https://www.facebook.com/TheGladeCafe">Follow</a>
                </div>
            </div>
        </div>
    </section>    
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>    
    <script src="/assets/scrollScript.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/assets/scrolling-nav.js"></script>

</body>

</html>
