.social-icon {
  height: 64px;
}

#logo-header {
	margin-right: 0;
	margin-left: 0;
}

.contact-link {
	text-decoration: none !important;	
}

.thumb {
    margin-bottom: 30px;
}

.thumbnail {
  cursor: pointer;
  cursor: hand;
}

.modal-dialog {
    width: 1000px;

    /* For responsive */
    max-width:100%;    
}

.menu-item {
  margin: auto;
}