body {
  background-color: #B89470;
  color: black;
}

a,
a:focus,
a:hover {
  outline: none;
  color: white;
}

.social-icon {
  height: 64px;
}

#logo-header {
	margin-right: 0;
	margin-left: 0;
}

.contact-link {
	text-decoration: none !important;	
}

.angular-google-map-container {
  height: 300px;
  width: 300px;
}

.thumb {
    margin-bottom: 30px;
}

.thumbnail {
  cursor: pointer;
  cursor: hand;
}

/*.modal-content {
  width: 900px;  
}

*/

.modal-dialog {
    width: 1000px;

    /* For responsive */
    max-width:100%;    
}

/*#about-pic-wrapper {
  height: 300px;
  width: auto;
}*/