
<a href="fullMenu.pdf" target="_blank" class="btn btn-lg btn-success">View Full Menu</a>

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">A view from the kitchen</h1>
    </div>
   
    <div ng-repeat="item in food">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail">
            <img class="img-responsive" ng-src="{{item.image}}" alt="{{item.description}}" ng-click="setModal(item)" data-toggle="modal" data-target="#myModal">
        </a>
      </div>
    </div>        

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <img class="img-responsive" ng-src="{{currentPicture}}">
        <h3>{{currentDescription}}</h3>        
      </div>
    </div>
  </div>
</div>